*
{
    margin: 0;
    padding: 0;
    color: #000000;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
}
.login
{
    /* 超出部分隐藏 */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(33, 44, 55, .3); 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
h1
{
    font-size: 45px;
    font-weight: 400;
    /* 提高层级 */
    z-index: 1;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 230px;
    /* 提高层级 */
    z-index: 1;
}
input
{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 16px;
    outline: none;
}
input::placeholder
{
    font-size: 12px;
    color: #000000;
}
button
{
    width: 150px;
    height: 36px;
    border: 1px solid #000000;
    border-radius: 18px;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}

body
{
    /* 初始化 取消内外边距 */
    margin: 0;
    padding: 0;
    /* 100%窗口高度 */
    height: 100vh;
    /* 弹性布局 水平垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 渐变背景 */
    background: linear-gradient(120deg,#ffbeed 0%, #98beff 100%);
    /* 指定背景图像的大小 */
    background-size: 300%;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 10s linear infinite;
}
.text{
    color: #fff;
    font-size: 30px;
    /* 字间距 */
    letter-spacing: 15px;
}

/* 定义动画 */
@keyframes bgAnimation {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}